
$base-color: #64caf7;
$footer-color: #a5def7;
/* change the background color */
.navbar-custom {
    background-color: $base-color;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: wheat;
}

.navbar-custom .dropdown-item:hover {
    background-color: wheat;
    color: green;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

footer {
    position: relative;
    height: auto;
    width: 100%;
    background: $footer-color;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* IE 6 */
* html .footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

body {
    width: 1024px auto;
    min-height: 1000px;
    background-color: $base-color;
}

.flex-grow {
    flex: 1;
}


.card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

* {
    box-sizing: border-box;
}



.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 1.5em;
}

.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold !important;
}

.Name_autocomplete {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0.5em;
    z-index: 999;
}

.Name_autocomplete_show {
    display: block !important;
}

.download-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.category-details-item {
    padding: 0.5em;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.22), 0 6px 6px rgba(0,0,0,0.22);
    }
}


.windows {
    .windows-item {
        padding: 1em;

        &:hover {
            background-color: rgba(0,0,0,0.22);
        }
    }
}

.most-popular {
    .most-popular-item {
        padding: 1em;

        &:hover {
            background-color: rgba(0,0,0,0.22);
        }
    }
}


.autocomplete {
    background-color: $base-color;

    .autocomplete-item {
        padding: 1em;
        position: relative;

        &:hover {
            background-color: #0aadf5;
            position: center;
            color: white;
            z-index: 999;
        }
    }
}

.search_2_search_result_item {
    background-color: $base-color;
    padding: 1em;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: #73d3fe;
    }
}
/*Menu desktop*/
@media only screen and (min-width : 1024px) {
    .menu-desktop {
        display: block
    }

    .menu-mobile {
        display: none
    }

    .menu-item {
        display: inline-block;
        position: relative;
        width: 200px;
        margin: 10px;
    }

    .menu-item a {
        text-decoration: none;
    }


    .submenu {
        display: none;
        position: absolute;
        width: 500px;
        height: 300px;
        z-index: 999;
        background-color: $base-color;
    }

    .submenu-item {
        text-decoration: none;
        color: black;
    }

    .menu-item-icon {
        margin: auto 1em;
    }

    .menu-item:hover .submenu {
        display: block;
    }

    #menu {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        background-color: $base-color;
        color: white;
    }

    #menu a {
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.24), 2px 2px rgba(0,0,0,0.12), 3px 3px rgba(0,0,0,0.24);
        text-decoration: none;
    }
}
/*Menu mobile*/
@media only screen and (max-width : 1024px) {
    .menu-desktop {
        display: none
    }

    .menu-mobile {
        display: block;
    }

    body {
        background-color: $base-color;
    }
}

