/* change the background color */
.navbar-custom {
  background-color: #808080;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: wheat; }

.navbar-custom .dropdown-item:hover {
  background-color: wheat;
  color: green; }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5); }

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: black; }

body {
  width: 1024px auto;
  background-color: #808080; }

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

* {
  box-sizing: border-box; }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 1.5em; }

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold !important; }

.Name_autocomplete {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0.5em;
  z-index: 999; }

.Name_autocomplete_show {
  display: block !important; }

.download-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display: block; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #95a321; }

.category-details-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.category-details-item {
  /*border: 1px solid #808080;*/ }
