

@model TblSoftware
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="mt-3">
    @Html.Raw(Model.text)
</div>


