@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<br/>
<h1 class="text-danger">Lỗi xảy ra.</h1>
<h2 class="text-danger">Vui lòng liên hệ quản trị để báo sự cố.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<a href="/">Quay về trang chủ</a>