@model List<TblSoftware>
@{
    Layout = null;

}

@if (Model is null)
{
    return;
}
<div class="row mb-3">
    <div class="col-12">
        <div class="autocomplete">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details","Home", new { url = item.short_url })" style="text-decoration : none">
                    <div class="autocomplete-item">
                        @item.Name
                    </div>
                </a>
            }
        </div>
    </div>
</div>
